.toggle {
  padding: 10px 20px;
  color: #fff;
  //background: linear-gradient(360deg, #5cb85c, #6dc73f, #5cb85c);
  background-color: #4ca021;
  box-shadow: 0 7px 5px rgba(black, .3);
  //border-color: #4cae4c
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    //background: linear-gradient(360deg, #1e791e, #4ca021,  #1e791e);
    background-color: #1e791e;
  }

  &:active,
  &:focus {
    box-shadow: 0 4px 5px rgba(black, .3);
  }
}

li {
  cursor: pointer;
  list-style: none;
  transition: all .2s;

  &:hover {
    transform:  translateX(20px) scale(1.2);
    color: #1e791e;
  }

  &.disabled {
    cursor: default;
    color: #dddddd;
  }

  &.disabled:hover {
    transform: unset;
  }

}

