<div (click)="toggleTree()" class="toggle">Toggle Tree</div>
<ul *ngIf="showTree">
  <li
    *ngFor="let firstLevelListItem of firstLevelList"
    (click)="markPoint(thirdLevelList)"
    [ngClass]="disabledMarkers?.length === thirdLevelList?.length ? 'disabled' : ''"
  >
    {{firstLevelListItem}}
  </li>
  <ul>
    <li
      *ngFor="let secondLevelListItem of secondLevelList"
      (click)="markPoint(thirdLevelList)"
      [ngClass]="disabledMarkers?.length === thirdLevelList?.length ? 'disabled' : ''"
    >
      {{secondLevelListItem}}
    </li>
    <ul>
      <li
        *ngFor="let thirdLevelListItem of thirdLevelList; let ind = index"
        (click)="thirdLevelListItem?.latitude ? markPoint(thirdLevelListItem) : ''"
        [ngClass]="disabledMarkers.includes(thirdLevelListItem) ? 'disabled' : ''"
      >
        {{thirdLevelListItem.name}}
      </li>
    </ul>
  </ul>
</ul>
